h1 {
	color: #21212b;
	font-size: 60px;
	text-align: center
  }
  
  td, th {
	border: 1px solid rgb(87, 44, 44)153, 94, 94);
	padding: 8px;
	text-align: center;
	color: purple;
	font-weight: bold;
  }
  
  th {
	padding-top: 12px;
	padding-bottom: 12px;
	background-color: #595094;
	color: black;
  }
  
  img {
	width: 200px;
  }
	  
  body {
	background-image: url("../pics/space.png");
	height: 100%;
	background-position: center;
	background-size: cover;
  }
  
  table {
	text-align:center; 
	margin-left:auto; 
	margin-right:auto; 
	background-color: rgba(117, 59, 59, 0.2);
  }